<form (ngSubmit)="submit()" #monForm="ngForm">
  <table>
    <tr>
      <td><label>Nom</label></td>
      <td><input [(ngModel)]="game.name" name="val1"></td>
    </tr>
    <tr>
      <td><label>Plateforme</label></td>
      <td><input [(ngModel)]="game.plateform" name="val2"></td>
    </tr>
    <tr>
      <td><label>Genre</label></td>
      <td>
        <select [(ngModel)]="game.genre" name = "val3">
          <option value = "g">{{genre}}</option>
        </select>
      </td>
    </tr>
    <tr>
      <td><label>Prix</label></td>
      <td><input [(ngModel)]="game.price" name="val4"></td>
    </tr>
    <tr>
      <td><label>Image</label></td>
      <td><input [(ngModel)]="game.image" name="val4"></td>
    </tr>
    <tr>
      <td><label>Description</label></td>
      <td><input [(ngModel)]="game.description" name="val5"></td>
    </tr>
    <tr>
      <td><label>Référence</label></td>
      <td><input [(ngModel)]="game.reference" name="val6"></td>
    </tr>
    <tr>
      <td><label>Stock</label></td>
      <td><input [(ngModel)]="game.stock" name="val6"></td>
    </tr>
    <tr>
      <td><label>Editeur</label></td>
      <td><input [(ngModel)]="game.editor" name="val7"></td>
    </tr>
    <tr>
      <td><label>Date parution</label></td>
      <td><input [(ngModel)]="game.date" name="val8"></td>
    </tr>
  </table>
  <button type="submit">Envoyer</button>
  {{message}}
</form>