
  <form (ngSubmit)="submit()" #monForm="ngForm">
    <table>
      <tr>
        <td><label>Nom</label></td>
        <td><input [(ngModel)]="postGame.nom" name="val1"></td>
      </tr>
      <tr>
        <td><label>Prix</label></td>
        <td><input [(ngModel)]="postGame.prix" name="val2"></td>
      </tr>
      <tr>
        <td><label>Plateforme</label></td>
        <td><input [(ngModel)]="postGame.plateforme" name="val3"></td>
      </tr>
      <tr>
        <td><label>Référence</label></td>
        <td><input [(ngModel)]="postGame.reference" name="val4"></td>
      </tr>
    </table>
    <button type="submit">Envoyer</button>
    {{message}}
  </form>
</div> 
