<div *ngIf="games?.length == 0">

  <a class="nav-link" routerLink="/create">Ajouter un produit</a>
  <form (ngSubmit)="submit()" #monForm="ngForm">
    <table>
      <tr>
        <td><label>Nom</label></td>
        <td><input class="form-control" [(ngModel)]="postGame.name" name="val1"></td>
      </tr>
      <tr>
        <td><label>Prix</label></td>
        <td><input class="form-control" [(ngModel)]="postGame.price" name="val2"></td>
      </tr>
      <tr>
        <td><label>Plateforme</label></td>
        <td><input class="form-control" [(ngModel)]="postGame.platform" name="val3"></td>
      </tr>
      <tr>
        <td><label>Référence</label></td>
        <td><input class="form-control" [(ngModel)]="postGame.reference" name="val4"></td>
      </tr>
    </table>
    <button class="btn btn-outline-dark" type="submit">Envoyer</button>
    <ngb-alert *ngIf="failMessage" type="danger" (close)="failMessage = null">{{ failMessage }}</ngb-alert>
  </form>
</div>


<div *ngIf="games?.length > 0">
  <app-admin-affiche [games]="games"></app-admin-affiche>
</div>
<!--<div *ngIf="games?.length == 0; then changeFailMessage('aucun resultat')"></div>-->