<div class="font">
    <section class="row section-product-line1">
        <div class="col-6 product-img">
            <div class="img-container">
                <div><img src={{gameToShow.image}}></div>
            </div>
        </div>
        <div class="col-6 product-info">
            <h1>{{gameToShow.name}}</h1>
            <div>
                <ul>
                    <li>PLATEFORME : {{gameToShow.plateform}}</li>
                    <li>GENRE : {{gameToShow.genre}}</li>
                    <li>EDITEUR : {{gameToShow.editor}}</li>
                    <li>DATE DE SORTIE : {{date}}</li>
                    <li>REFERENCE : {{gameToShow.reference}}</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="row section-product-line2">
        <div class="col-12 line2">
            <p>STOCK : {{gameToShow.stock}} PRIX : {{gameToShow.price}}€</p>
            <label>Quantité</label>
            <input type="number" class="form-control" id="game" name="game" min="1" max="{{gameToShow.stock}}"
                [(ngModel)]="gameToAdd.quantity">

            <button type="button" class="btn btn-outline-dark" (click)=addCart() [disabled]="stock == 0">Ajouter au
                panier</button>
        </div>
    </section>

    <section class="row section-product-line3">
        <div class="col-12 details">
            <p>{{gameToShow.description}}</p>
        </div>
    </section>
</div>