<div>
  <section class="section-product-line1">
      <div class="product-img">
          <div class="img-container">
              
          </div>
      </div>
      <div class="product-info">
          <h1></h1>
          <div>
              <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
              </ul>
          </div>
      </div>
  </section>

  <section class="section-product-line2">
      <div class="line2">
          <p></p>
          <p></p>
          <label for="game">Quantité</label>
          <input type="number" id="game" name="game" min="1" max="20">
          <button type="button">Ajouter au panier</button>
      </div>
  </section>

  <section class="section-product-line3">
      <div class="details">

      </div>
  </section>
</div>
