<div *ngIf ="credential != 'VISITOR'; else other">
  <table>
    <tr>
      <th colspan="2">PROFIL</th>
    </tr>
    <tr>
      <td>Prénom :</td>
      <td>{{user.firstname}}</td>
    </tr>
    <tr>
      <td>Nom :</td>
      <td>{{user.lastname}}</td>
    </tr>
    <tr>
      <td>Adresse :</td>
      <td>{{user.adress}}</td>
    </tr>
    <tr>
      <td>Téléphone :</td>
      <td>{{user.phone}}</td>
    </tr>
    <tr>
      <td>Email :</td>
      <td>{{user.email}}</td>
    </tr>
    <tr>
      <td>Date de naissance :</td>
      <td> {{date}}</td>
    </tr>
    <tr>
      <td>Identifiant :</td>
      <td>{{user.username}}</td>
    </tr>
  </table>
  <button class="btn btn-outline-dark" routerLink="/profil-modif" [queryParams]="{obj: user | json}">Modifier</button>
</div>
<ng-template #other>
  <a routerLink="/''" routerLinkActive="active">Vous devez être connecté pour consulter cette page</a>
</ng-template>