/* *****	Footer CSS		***** */

@font-face {
    font-family: game;
    src: url(../../assets/fonts/game.ttf) format("opentype");
  }


.footer {
    background-image: url(src/assets/img/wallpaper-footer.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: auto;
    justify-content: space-around;
    border-top: 1px solid lightgrey;
    padding-top: 25%;
    font-family: retro;
    text-transform: uppercase;
    color: white;
    text-shadow: 2px 2px 1px black;
}
.footer a{
    text-decoration: none;
}

.about-us {
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}

.section-footer li{
    margin: 10% 0 10% 0;
}



.social {
    display: flex;
    justify-content: space-around;
    
}

.social a {
    text-decoration: none;
    color: white;

}