<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Platform</th>
      <th scope="col">Reference</th>
      <th scope="col">Edit</th>
      <th scope="col">Activer/Desactiver</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor='let obj of games'>
      <td>{{obj.name}}</td>

      <td>{{obj.price}}</td>

      <td>{{obj.plateform}}</td>

      <td>{{obj.reference}}</td>

      <td><button class="btn btn-secondary"><a [routerLink]="">Edit</a></button></td>

      <td>
        <div *ngIf="obj.active == true;then actived else desactivated"></div>
        <ng-template #actived>
          <button class="btn btn-warning" (click)="activateDeactivate(obj)>Desactiver</button>
        </ng-template>
        <ng-template #desactivated>
          <button class="btn btn-secondary" (click)="activateDeactivate(obj)>Activer</button>
        </ng-template>
      </td>

      <td><button class="btn btn-danger" (click)="delete(obj)">Delete</button></td>
    </tr>

  </tbody>
</table>
<ngb-pagination class="d-flex justify-content-center" [collectionSize]='totalResult' [(page)]="page"
  aria-label="Default pagination" (pageChange)="printNewPage()"></ngb-pagination>
<div class="d-flex justify-content-center">
  <button class="btn btn-outline-dark" (click)="newSearch()">Nouvelle recherche</button>
  <button class="btn btn-outline-dark" routerLink="/create">Ajouter un produit</button>
</div>