<div *ngIf="orderPaging.orders.length == 0">

  <form (ngSubmit)="submit()" #monForm="ngForm">
    <table>
      <tr>
        <td><label>Prenom</label></td>
        <td><input class="form-control" [(ngModel)]="postOrder.firstname" name="val1"></td>
      </tr>
      <tr>
        <td><label>Nom</label></td>
        <td><input class="form-control" [(ngModel)]="postOrder.lastname" name="val2"></td>
      </tr>
      <tr>
        <td><label>Order N°</label></td>
        <td><input class="form-control" [(ngModel)]="postOrder.orderNum" name="val3"></td>
      </tr>
      <tr>
        <td><label>startDate</label></td>
        <td>
          <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd" [(ngModel)]="postOrder.startDate" ngbDatepicker
              #d="ngbDatepicker" [minDate]="{ year: 1910, month: 1, day: 1}" name="startDate" required>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar fa fa-calendar" (click)="d.toggle()"
                type="button"></button>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td><label>endDate</label></td>
        <td>
          <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd" [(ngModel)]="postOrder.endDate" ngbDatepicker
              #e="ngbDatepicker" [minDate]="{ year: 1910, month: 1, day: 1}" name="endDate" required>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar fa fa-calendar" (click)="e.toggle()"
                type="button"></button>
            </div>
          </div>
        </td>
      </tr>
    </table>
    <button class="btn btn-outline-dark" type="submit">Envoyer</button>
    <ngb-alert *ngIf="failMessage" type="danger" (close)="failMessage = null">{{ failMessage }}</ngb-alert>
  </form>
</div>


<div *ngIf="orderPaging.orders.length > 0">
  <app-admin-list-order [orderPaging]="orderPaging" [orderSearch]="postOrder"></app-admin-list-order>
  <!--[games]="games" [totalResult]="totalResult" [gameSearch]="postOrder"-->
</div>
<!--<div *ngIf="games?.length == 0; then changeFailMessage('aucun resultat')"></div>-->