<div class="background-header">

    <div class="header-top">
        <!-- Première ligne du header -->

        <nav class="big-title navbar navbar-expand-sm ">
            <!-- lien vers page accueil -->

            <a class="navbar-brand big-title-link" routerLink="#">RETROGAMING</a>

        </nav>

        <nav class="header-top-center navbar navbar-expand-sm">
            <!-- Chaque lien nav mène à une page console spécifique -->
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="navbar-brand link-1" routerLink="/visite" [queryParams]="{plateform: plateforme[1]}"
                        (click)="reload()">Mega Drive</a>
                </li>
                <li class="nav-item">
                    <a class="navbar-brand link-1" routerLink="/visite" [queryParams]="{plateform: plateforme[3]}"
                        (click)="reload()">PSX</a>
                </li>
                <li class="nav-item">
                    <a class="navbar-brand link-1" routerLink="/visite" [queryParams]="{plateform: plateforme[4]}"
                        (click)="reload()">SNES</a>
                </li>
                <li class="nav-item">
                    <a class="navbar-brand link-1" routerLink="/visite" [queryParams]="{plateform: plateforme[2]}"
                        (click)="reload()">NES</a>
                </li>
                <li class="nav-item">
                    <a class="navbar-brand link-1" routerLink="/visite" [queryParams]="{plateform: plateforme[0]}"
                        (click)="reload()">Game Boy</a>
                </li>
            </ul>
        </nav>

        <nav class=" nav1 navbar navbar-expand-sm">
            <!-- icônes rechercher, créer et se connecter au profil, panier -->
            <form class="form-inline" (ngSubmit)="submit()">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" [(ngModel)]="name" name="n1">
            </form>
            <div *ngIf="credential=='ADMIN' || credential == 'REGISTER'; else notLogged">
                <!--LOGGED-->
                <div ngbDropdown>
                    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle><i
                            class="fas fa-user"></i></button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem class="btn btn-outline-dark" routerLink="/profil"
                            style="width : 160px;">Profil</button>
                        <button ngbDropdownItem class="btn btn-outline-dark" (click)="deco()"
                            style="width : 160px;">Deconnexion</button>
                    </div>
                </div>
            </div>
            <ng-template #notLogged>
                <div ngbDropdown>
                    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle><i
                            class="fas fa-user"></i></button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <app-login></app-login>
                        <button ngbDropdownItem class="btn btn-outline-dark" routerLink="/create-account"
                            style="width : 160px;">Inscription</button>
                    </div>
                </div>
            </ng-template>
            <div>
                <app-cart></app-cart>
            </div>
        </nav>
    </div>

    <div class="header-down d-flex justify-content-between row">
        <div>
            <nav class="navbar navbar-expand-sm">
                <!-- Ajouter ici NGIF // Ligne 2 de la page web // Administrateur -->

                <div class="nav-item1 row">
                    <a class="nav-link" routerLink="produitListe">Tous nos jeux</a>

                    <a *ngIf="credential == 'REGISTER'" class="nav-link" routerLink="/order-list">Mes commandes</a>
                    <a *ngIf="credential == 'ADMIN'" class="nav-link" routerLink="/admin-search-order">Gestion des
                        commandes</a>
                    <a *ngIf="credential == 'ADMIN'" class="nav-link" routerLink="/search">Gestion des produits</a>
                </div>
            </nav>
        </div>

        <nav class="navbar navbar-expand-sm">
            <ul class="navbar-nav">
                <li class="nav-item2">
                    <a class="nav-link" routerLink="/visite" [queryParams]="{genre: genre[2]}"
                        (click)="reload()">ARCADE</a>
                </li>
                <li class="nav-item2">
                    <a class="nav-link" routerLink="/visite" [queryParams]="{genre: genre[3]}"
                        (click)="reload()">RPG</a>
                </li>
                <li class="nav-item2">
                    <a class="nav-link" routerLink="/visite" [queryParams]="{genre: genre[1]}"
                        (click)="reload()">FPS</a>
                </li>
                <li class="nav-item2">
                    <a class="nav-link" routerLink="/visite" [queryParams]="{genre: genre[4]}"
                        (click)="reload()">SPORT</a>
                </li>
                <li class="nav-item2">
                    <a class="nav-link" routerLink="/visite" [queryParams]="{genre: genre[0]}"
                        (click)="reload()">ADVENTURE</a>
                </li>
            </ul>

        </nav>

    </div>
</div>