
  <div class="row">
    
    <div class="col-4 col-centered">
      LOGO
    </div>

    <div class="col-4 col-centered">
      <table align = "center">
        <tr>
          <td>Megadrive</td>
          <td>Playstation</td>
          <td>Super Nintendo</td>
          <td>NES</td>
          <td>Gameboy</td>
        </tr>
      </table>
    </div>

    <div class="col-4 col-centered">
      <table align = "center">
        <tr>
          <td><input type ="text" name = "search"><img src="https://image.flaticon.com/icons/png/512/34/34202.png" width = "20px"></td>
          <td><a href ="">Profil</a></td>
          <td><a href ="">Panier</a></td>
        </tr>
      </table>
    </div>
  </div>




<div class="row">
  <div class="col-6">Tous nos jeux</div>
  <div class="col-6">
    <table>
      <tr>
        <td>Arcade</td>
        <td>RPG</td>
        <td>FPS</td>
        <td>Sport</td>
        <td>Combat</td>
      </tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-6">Tous nos jeux | Mes commmandes</div>
  <div class="col-6">
    <table>
      <tr>
        <td>Arcade</td>
        <td>RPG</td>
        <td>FPS</td>
        <td>Sport</td>
        <td>Combat</td>
      </tr>
    </table>
  </div>
</div>
    
<div class="row">
  <div class="col-6">Tous nos jeux | Gerer commmandes | Gerer produits</div>
  <div class="col-6">
    <table>
      <tr>
        <td>Arcade</td>
        <td>RPG</td>
        <td>FPS</td>
        <td>Sport</td>
        <td>Combat</td>
      </tr>
    </table>
  </div>
</div>

