
/* *****	Header CSS		***** */





/* *****	Footer CSS		***** */
.footer {
    justify-content: space-around;
	margin-top: 60px;
	border-top: 1px solid lightgrey;
	padding-top: 2%;
}

.section-footer li{
    margin: 10% 0 10% 0;
}

.section-footer a:hover {
    font-weight: bold;
}