@font-face {
    font-family: retro;
    src: url(../../assets/fonts/retro.ttf) format("opentype");
  }

  @font-face {
    font-family: game;
    src: url(../../assets/fonts/game.ttf) format("opentype");
  }

* {
    font-family: retro;
}


a {
    text-decoration: none;
    color: whitesmoke;
    text-shadow: 2px 2px 1px black;
}

.borderPerso{
    border-bottom: 1px solid lightgrey;
}

/* css carousel */

.img-carousel-container{
    width: 900px;
    height: 900px;
}


.img-carousel {
    height: 25rem;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
    
}


h3, .h3, .ccaption{
    font-size: 3rem;
    font-family: retro;
    text-transform: uppercase;
    text-shadow: 5px 5px 10px black;
}

 



/* css des deux rangées avec trois produits */

/* css pour les boutons dans les rangées */


 









/* retour du css des deux rangées avec trois produits */
.ensemble-rangee-1 {
    background-image: url("../../assets/img/background-img-body.png");
    height: 25rem;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    background-attachment: fixed;
    text-transform: uppercase;
}

.products-intro {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
    height: 350px;
}

.title-top-games {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

/* css des images sur la rangée */


.select-item {
    /*background-color: green;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0 2% 0 2%;
    transform: scale(1);
    transition: all .3s ease-in-out;
}

.img-container-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 40%;
}

.select-item:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: all .3s ease-in-out;
}

.select-item a{
    padding-top: 5%;
}


.ensemble-rangee-1 img {
    width: 100%;
    height: auto;
}


/*  */