@font-face {
    font-family: retro;
    src: url(../../assets/fonts/retro.ttf) format("opentype");
  }

  @font-face {
    font-family: game;
    src: url(../../assets/fonts/game.ttf) format("opentype");
  }

* {
    font-family: retro;
}


a {
    text-decoration: none;
    color: black;
}

.borderPerso{
    border-bottom: 1px solid lightgrey;
}

/* css carousel */

.img-carousel-container{
    width: 900px;
    height: 900px;
}


.img-carousel {
    height: 25rem;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
    
}


h3, .h3, .ccaption{
    font-size: 3rem;
    font-family: retro;
    text-transform: uppercase;
    text-shadow: 5px 5px 10px black;
}

 .carousel-caption a{
    color: white;
    text-shadow: 2px 2px 1px black;
 }


/* css des deux rangées avec trois produits */

/* css pour les boutons dans les rangées */


 









/* retour du css des deux rangées avec trois produits */


.background{
    background-image: url("../../assets/img/background-img-body.png");
    padding-top: 50px;
    padding-bottom: 50px;
    background-attachment: fixed;
    text-transform: uppercase;
}

.ensemble-rangee-1 {
    height: 27rem;
    background-color: #96E9FF;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    padding-top: 0.2rem;
}

.products-intro {
    margin: 2% 3% auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: 350px;

}

.title-top-games {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}



/* encore css de la rangée */

/* css des boutons */

.select-item {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0 2% 0 2%;
    
}



@-webkit-keyframes stripe-slide {
    0% {
      background-position: 0% 0;
    }
    100% {
      background-position: 100% 0;
    }
  }
  @keyframes stripe-slide {
    0% {
      background-position: 0% 0;
    }
    100% {
      background-position: 100% 0;
    }
  }

  .btn {
    overflow: visible;
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    font: inherit;
    line-height: normal;
    cursor: pointer;
    -moz-user-select: text;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 16px 36px 22px;
    background-color: #fff;
    color:black;
    border: 2px solid #666;
    border-radius: 6px;
    margin-bottom: 16px;
    transition: all .5s ease;
  }

  .btn:-moz-focus-inner {
    padding: 0;
    border: 0;
  }

  .btn--stripe {
    overflow: hidden;
    position: relative;
  }

  .btn--stripe:after {
    content: '';
    display: block;
    height: 7px;
    width: 100%;
    background-image: repeating-linear-gradient(45deg, #666, #666 1px, transparent 2px, transparent 5px);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-top: 1px solid #666;
    position: absolute;
    left: 0;
    bottom: 0;
    background-size: 7px 7px;
  }

  .btn--stripe:hover {
    background-color: #666;
    color: #fff;
    border-color: #000;
  }

  .btn--stripe:hover:after {
    background-image: repeating-linear-gradient(45deg, #fff, #fff 1px, transparent 2px, transparent 5px);
    border-top: 1px solid #000;
    -webkit-animation: stripe-slide 12s infinite linear forwards;
            animation: stripe-slide 12s infinite linear forwards;
  }




/* css de la rangée */

.img-container-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 300px;
    transform: scale(1);
    transition: all .3s ease-in-out;
    margin-bottom: 2%;
}

.img-container-main:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: all .3s ease-in-out;
}

.select-item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.ensemble-rangee-1 img {
    width: 100%;
    height: auto;
}


.title-top-games a:active{
  color: yellow;
}


/*  css de la section console */


.section-console {
    margin-left: 5%;
    margin-right: 5%;
    background-color: white;
    
 }
 
 .console-container {
    display: flex;
    height: 30rem;
 }

 

 .console-left {
    background-image: url("../../assets/img/last-img-genesis-bis3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
 }

 .console-right {
    background-image: url("../../assets/img/last-img-snesmod.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 50%;
    

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
 }


/* css button bas */


.console-link {
    margin-right: auto;
    margin-left: auto;
    flex-direction: column;
    text-align: center;
    padding: 2%;
    
}

.console-link a {
   text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  color: white;
}

.console-link a:hover {
  -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
  -moz-animation: neon2 1.5s ease-in-out infinite alternate;
  animation: neon2 1.5s ease-in-out infinite alternate;
}

.console-link a:hover {
  color: #ffffff;
}

 

 
 

