<div class="w-100">
  <ngb-carousel *ngIf="images" class="w-100 borderPerso">
    <ng-template ngbSlide class="img-carousel-container">
      <img class=".img-fluid img-carousel" src="../../assets/img/slider-snes.jpg" alt="first slide">
      <div class="carousel-caption ccaption">
        <a routerLink="/visite" [queryParams]="{plateform: plateforme[4]}" (click)="window.location.reload()">
          <h3>SUPER NINTENDO</h3>
        </a>
      </div>
    </ng-template>
    <ng-template ngbSlide class="img-carousel-container">
      <img class=".img-fluid img-carousel" src="../../assets/img/slider-genesis-bis.jpg" alt="second slide">
      <div class="carousel-caption ccaption">
        <a routerLink="/visite" [queryParams]="{plateform: plateforme[1]}" (click)="window.location.reload()">
          <h3>MEGA DRIVE</h3>
        </a>
      </div>
    </ng-template>
    <ng-template ngbSlide class="img-carousel-container">
      <img class=".img-fluid img-carousel" src="../../assets/img/slider-all-games.jpg" alt="third slide">
      <div class="carousel-caption ccaption">
        <a routerLink="produitListe">
          <h3>Tous nos jeux</h3>
        </a>
      </div>
    </ng-template>
  </ngb-carousel>
</div>

<div>
  <section class="background">
    <section class="ensemble-rangee-1">
      <article class="products-intro">

        <div class="title-top-games">
          <h2>Top Arcade</h2>
          <a routerLink="/visite" [queryParams]="{genre: genre[2]}" (click)="window.location.reload()"
            class="retro-button">Explorer</a>
        </div>

        <article class="select-item">
          <div class="img-container-main">
            <a routerLink="#"><img src="http://www.thecoverproject.net/images/covers/ps1_tekken3_front_eu_thumb.jpg"
                alt="img-game" style="height: 15em; width: auto;"></a>
          </div>
          <a routerLink="#">
            <h4 class="btn btn--stripe">Explorer</h4>
          </a>
        </article>

        <article class="select-item">
          <div class="img-container-main">
            <a routerLink="#"><img
                src="http://www.thecoverproject.net/images/covers/snes_supermarioworld_eu_2_thumb.jpg" alt="img-game"
                style="height: 15em; width: auto;"></a>
          </div>
          <a routerLink="#">
            <h4 class="btn btn--stripe">Explorer</h4>
          </a>
        </article>

        <article class="select-item">
          <div class="img-container-main">
            <a routerLink="#"><img src="http://www.thecoverproject.net/images/covers/genesis_revengeofshinobi_thumb.jpg"
                alt="img-game" style="height: 15em; width: auto;"></a>
          </div>
          <a routerLink="#">
            <h4 class="btn btn--stripe">Explorer</h4>
          </a>
        </article>

      </article>
    </section>

    <section class="ensemble-rangee-1">
      <article class="products-intro">

        <article class="select-item">
          <div class="img-container-main">
            <a routerLink="#"><img src="https://puu.sh/CYjiU/3908784658.png" alt=""
                style="height: 15em; width: auto;"></a>
          </div>
          <a routerLink="#">
            <h4 class="btn btn--stripe">Explorer</h4>
          </a>
        </article>

        <article class="select-item">
          <div class="img-container-main">
            <a routerLink="#"><img
                src="https://i.ebayimg.com/12/!!d-zeJ!!WM~$(KGrHqEOKjMEzJjNSMU!BM7DkR!eRg~~_35.JPG?set_id=89040003C1"
                alt="" style="height: 15em; width: auto;"></a>
          </div>
          <a routerLink="#">
            <h4 class="btn btn--stripe">Explorer</h4>
          </a>
        </article>

        <article class="select-item">
          <div class="img-container-main">
            <a routerLink="#"><img
                src="http://www.thecoverproject.net/images/covers/ps1_finalfantasy7_front_eu_thumb.jpg" alt=""
                style="height: 15em; width: auto;"></a>
          </div>
          <a routerLink="#">
            <h4 class="btn btn--stripe">Explorer</h4>
          </a>
        </article>

        <div class="title-top-games">
          <h2>TOP RPG</h2>
          <a routerLink="/visite" [queryParams]="{genre: genre[3]}" (click)="window.location.reload()">Explorer</a>
        </div>
      </article>
    </section>

    <section class="section-console">

      <div class="console-container">
        <div class="console-left">
          <div class="console-link">
            <a routerLink="/visite" [queryParams]="{plateform: plateforme[1]}"
              (click)="window.location.reload()">Explorer</a>
          </div>
        </div>

        <div class="console-right">
          <div class="console-link">
            <a routerLink="/visite" [queryParams]="{plateform: plateforme[4]}"
              (click)="window.location.reload()">Explorer</a>
          </div>
        </div>
      </div>
    </section>

  </section>
</div>